<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <BEST_Watchtower>
            <version>0.0.1</version>
        </BEST_Watchtower>
    </modules>
    <global>
        <blocks>
            <watchtower>
                <class>BEST_Watchtower_Block</class>
            </watchtower>
        </blocks>
        <models>
            <watchtower>
                <class>BEST_Watchtower_Model</class>
                <resourceModel>watchtower_mysql4</resourceModel>
            </watchtower>
        </models>
        <resources>
            <watchtower_setup>
                <setup>
                    <module>BEST_Watchtower</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </watchtower_setup>
            <watchtower_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </watchtower_write>
            <watchtower_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </watchtower_read>
        </resources>
        <helpers>
            <watchtower>
                <class>BEST_Watchtower_Helper</class>
            </watchtower>
        </helpers>
    </global>
    <adminhtml>
        <menu>
            <watchtower>
                <title>Watchtower</title>
                <order>-10</order>
                <action>watchtower/adminhtml_dashboard/index</action>
            </watchtower>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <BEST_Watchtower>
                            <title>watchtower Module</title>
                            <sort_order>10</sort_order>
                        </BEST_Watchtower>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <watchtower>
                    <file>watchtower.xml</file>
                </watchtower>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <watchtower>
                <use>admin</use>
                <args>
                    <module>BEST_Watchtower</module>
                    <frontName>watchtower</frontName>
                </args>
            </watchtower>
        </routers>
    </admin>
</config>
